<h1>Listing users_events</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users_events.each do |users_event| %>
      <tr>
        <td><%= link_to 'Show', users_event %></td>
        <td><%= link_to 'Edit', edit_users_event_path(users_event) %></td>
        <td><%= link_to 'Destroy', users_event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Users event', new_users_event_path %>
