// Place all the styles related to the Header controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$BckColor:#F8F8F8;
$BorColor:#E5E5E5;
$NegPicture:#5E2028;
$LNormal:#5E2028;
$LHover:#5E2028;
$LVisited:#5E2028;
$LActive:#5E2028;


#new_user {
  margin-right: 10px;
}


.eventBadge {
   position:relative;
}
.eventBadge[data-badge]:after {
   content:attr(data-badge);
   position:absolute;
   top:5px;
   right:0px;
   font-size:.7em;
   background:$NegPicture;
   color:white;
   width:18px;height:18px;
   text-align:center;
   line-height:18px;
   border-radius:50%;
   box-shadow:0 0 1px #333;
}

#header {
  padding-top: 10px;
  padding-bottom: 10px;
  min-width: 1000px;
  border-bottom: 1px solid #E5E5E5;
  background-color: #F5F5F5;
}

#header-container {
  margin-left: auto;
  margin-right: auto;
  width: 980px;
  overflow: hidden;
}

.header-nav-item {
  display: block;
  float: left;
  overflow: hidden;
  margin-right: 10px;
  margin-top: 5px;
}

#header-user-links {
  list-style: outside none none;
  float: right;
  margin: 0px;
}

.divider-vertical {
  float: left;
}

.header-logo-container {
  float: left;
  margin-right: 10px;
}

.topsearch-container {
  position: relative;
  float: left;
}

#top_search_form{
  width: 360px;
  float: left;
  position: relative;
}

.searchbar{
  width: 100%;
  min-height: 26px;
  padding: 2px;
  font-size: 12px;
  display: block;
  line-height: 17px;
  position: relative;
}

.search-input{
  border: 0px none;
  min-height: 22px;
  display: inline-block;
  font-size: 12px;
  padding: 3px, 5px;
  line-height: 16px;
  width: 100%;
}

.header-logo {
  size: 40px;
  margin-top: -10px;
}

.header_userpicture {
  vertical-align:bottom
}

.dropdown-menu > li > form > input {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857;
  color: #333;
  white-space: nowrap;
}


#header-logout {
  background: transparent none repeat scroll 0% 0%;
  border: 0px none;
}
