// Place all the styles related to the Suggestion controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.suggestion {
  padding: 10px;
  margin-bottom: 1px;
  border-radius: 1px;
  background-color: rgb(244,244,244);
  display: inline-block;
  width: 100%;
  height: 25%;
}

#join {
  background-color: #33FF33;
}

#ignore {
  background-color: #FF0000;
}

a {
  color: rgb(22, 122,199);
  text-decoration: none;

}
a:visited{
  color: rgb(22, 122,199);
}
a:hover {
  text-decoration: underline;
  color: rgb(22, 122,199);
  background-color: transparent;
}
