// Style for Suggestion overview
$BckColor:#F8F8F8;
$BorColor:#E5E5E5;
$NegPicture:#5E2028;
$LNormal:#5E2028;
$LHover:#5E2028;
$LVisited:#5E2028;
$LActive:#5E2028;

.suggestion {
  clear: both;
  background-color:$BckColor;
  height: auto;
  margin-bottom: 20px;
  overflow:auto;
  border: 1px solid $BorColor;
}

.suggestion-control {

}

.suggestion-container {

}


#flash {
  height: 25px;
}

.accept {
  cursor: pointer;
  display: inline-block;
  span {
    vertical-align: middle;
  }
  i {
    color: $NegPicture;
  }
}

#acceptButton {
  color: $NegPicture;
}

.eventContainer {
    position: relative;
    display: inline-block;
    vertical-align: top;
}

.eventImage {
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 280px;
}

.eventDescriptionContainer {
  margin-left: 3%;
  width: calc(96% - 300px);
  display: inline-block;
}

.userImage {
  max-height: 30px;
  vertical-align:bottom;
}

.eventDate {
  border-radius: 2px;
  font-size: 9px;
  color: rgb(182,194,222);
  position: absolute;
  letter-spacing: 0px;
  background-color: black;
  margin-right: 10px;
  padding: 0px;
  bottom: 20px;
  right: 0px;
}

#declineButton {
  color: $NegPicture;
}

#rangeSlider {
  width: 10%;
  display:inline;
  vertical-align: middle;
}

.join {
  background-color: #33FF33;
}

.ignore {
  background-color: #FF0000;
}

a {
  color: rgb(22, 122,199);
  text-decoration: none;

}
a:visited{
  color: rgb(22, 122,199);
}
a:hover {
  text-decoration: underline;
  color: rgb(22, 122,199);
  background-color: transparent;
}

.eventHeadline {

  margin-top: 0px;
  margin-bottom: 5px;

}


.myevents_acceptcontainer {
  float: right;
  overflow: hidden;
  cursor: pointer;
  font-size: 0.5em;
  height: 100%;
  vertical-align: bottom;
  span {
    vertical-align: middle;
  }
  span:hover {
    text-decoration: underline;
  }
  i {
    color: $NegPicture;
    vertical-align: middle;
  }
}

.myevents_ignorecontainer {
  float: right;
  overflow: hidden;
  cursor: pointer;
  font-size: 0.5em;
  height: 100%;
  vertical-align: bottom;
  span {
    vertical-align: middle;
  }
  span:hover {
    text-decoration: underline;
  }
  i {
    color: $NegPicture;
    vertical-align: middle;
  }
}