// Style for Suggestion overview

.suggestion {
  clear: both;
  background-color:#fffaf0;
  height: 190px;
  margin-bottom: 10px;
}

#flash {
  height: 25px;
}

#accept {
  cursor: pointer;
  display: inline-block;
}

#acceptButton { color: #2ECC40; }

.eventContainer {

  height: 100%;
  position: relative;
  float: left;
  margin: 5px;
}

.eventImage {
  float: left;
  max-height: 180px;
}

.eventDescriptionContainer {
  height: 100%;
  max-width: 60%;
  position: relative;
  float: left;
  margin-left: 30px;
  margin-top: 10px;
}

.userImage {
  max-height: 30px;
  vertical-align:bottom;
}

.eventDate {
  border-radius: 2px;
  font-size: 9px;
  color: rgb(182,194,222);
  position: absolute;
  right: 5px;
  bottom: 5px;
  letter-spacing: 0px;
  background-color: black;
}

#declineButton {color: #FF4136}

#rangeSlider {
  width: 10%;
  display:inline;
  vertical-align: middle;
}

.join {
  background-color: #33FF33;
}

.ignore {
  background-color: #FF0000;
}

a {
  color: rgb(22, 122,199);
  text-decoration: none;

}
a:visited{
  color: rgb(22, 122,199);
}
a:hover {
  text-decoration: underline;
  color: rgb(22, 122,199);
  background-color: transparent;
}
